
.terminal-card{
  max-width: 1300px;
}
.terminal-card header{
  background-color: black;
}
.terminal-card header:hover {
  background-color: blueviolet !important;
}
.terminal-card div {
  display:none;
  background: white;
}

.terminal-card img {
  width: 180px;
}

@media only screen and (min-width: 600px){
  .terminal-card img{
    width: 400px;
  }
}

@media only screen and (min-width: 1200px){
  .terminal-card img{
    width: 800px;
  }
}